.search-form
    padding: 20px 0

.not-found
    text-align: center
    padding: 100px 20px
    border-radius: 3px
    box-shadow: 0 0 10px rgba(0,0,0,.2)

.entry-title 
    font-size: 24px
    font-weight: bold 
    color: color-one
    text-transform: uppercase  
    padding-bottom: 50px


.main--container 
    display: container
    padding: 50px 0

.pagination
    display: flex 
    justify-content: center 
    align-items: center 
    flex-flow: row wrap 
    margin: 100px 0

    li 
        padding: 5px

    a:hover 
        background: color-one 

    a, span 
        display: inline-block 
        padding: 5px 10px 
        background: color-two 
        color: #fff
        border-radius: 3px  

        &.current 
            background: color-one    
    

@media (min-width: 992px)
    font-size: 32px
