.post-list 
    padding: 50px 0

    &--blog
        background-image: url('/wp-content/themes/simplessystem/assets/images/post.jpg')
        background-position: cover 
        background-attachment: fixed

        .slick-slide
            margin: (gutter / 2)

        .post-list
            &__item
                &--empty 
                    display: none
            &__title 
                color: #fff
                
    &__container 
        display: container

    &__footer 
        text-align: center 
        padding: 50px 0

    &__title 
        display: block 
        padding: 0 0 50px 
        font-size: 24px
        font-weight: bold 
        text-transform: uppercase 
        color: color-one
        text-align: center

    &__list 
        display: flex 
        justify-content: space-between
        align-items: flex-start 
        flex-flow: row wrap
        margin: - (gutter / 2)

    &__item 
        flex: 1 1 345px

        &--empty 
            padding: 0

    &__border 
        border-radius: 3px
        padding: (gutter / 2)
        background: #fff

    &__name
        display: block 
        padding: 10px 0 
        font-size: 14px 
        font-weight: semi-bold 
        color: color-one 
        text-transform: uppercase

    &__description 
        font-size: 12px
        font-weight: regular 
        color: color-two

    &__link
        height: 350px 
        img 
            object-fit: cover 
            width: 100%
            height: 100% 

@media (min-width: 992px)
    .post-list 
        &__title 
            font-size: 32px
            text-align: left 
        &__item
            position: relative 
            z-index: 1
            border-radius: 3px 
            transition: transition 

            &:hover 
                z-index: 2
                box-shadow: 0 0 10px rgba(0,0,0,.2)

.blog
    .post-list__title
        opacity: 0 
        transform: translateX(100%)
        transition: transition 

    .post-list__list
        opacity: 0 
        transform: translateY(100%)
        transition: transition 

    &__container--show
        .post-list__title
            opacity: 1
            transform: translateX(0)

        .post-list__list
            opacity: 1
            transform: translateY(0)