.contact
    position: relative
    padding: 50px 0
    background: color-one
    width: 100%
    overflow: hidden

    &__container 
        display: container

    &__title 
        font-size: 18px
        font-weight: bold 
        text-transform: uppercase
        text-align: center
        color: #fff
        padding-bottom: 20px

        opacity: 0 
        transition: transition 

    form 
        transform: translateY(100%)
        transition: transition

    &__container--show 
        .contact
            &__title 
                opacity: 1 
        form 
            transform: translateY(0)

    .wpcf7 label.on span:first-child
        color: #fff 
        
@media (min-width: 500px)
    .contact 
        .inline 
            display: flex 
            margin: s('0 %s', -(gutter / 2))
            > div 
                flex: 1 1 auto
                padding: 0 (gutter / 2)
    
@media (min-width: 992px)
    .contact 
        &__title
            font-size: 24px
        form 
            display: flex 
            align-items: stretch
            margin: -(gutter / 2)
            .col 
                flex: 0 0 50%
                padding: (gutter / 2)
        textarea 
            height: 94px
        