.widget 
    padding: 100px 0 
    font-size: 14px
    font-weight: regular
    text-align: center 
    color: color-one

    h3 
        font-size: 32px 
        font-weight: bold
        padding: 0 0 20px

    .textwidget
        padding: (gutter / 2)

    img 
        margin: (gutter / 2)
        max-width: s('calc(100% - %s) !important', gutter)

    .button 
        margin-top: 20px 

    &__container 
        display: container

    &__border 
        margin: -(gutter / 2)

    &--products
        background: color-one
        color: #fff

@media (min-width: 992px)
    .widget 
        text-align: left

        &__border 
            display: flex 
            justify-content: space-between
            align-items: center

        .textwidget 
            flex: 1 1 auto 
            min-width: 0

        img 
            flex: 0 0 50%
            max-width: 50% !important
            object-fit: contain